#image0,#image1,#image2,#image3{
    display: none;
}
#canvas0,#canvas1,#canvas2,#canvas3{
    background: transparent;
    border-radius: 100%;
    width: 22vw;
    height: 22vw;
}
.icon{
    width: 22vw;
    height: 22vw;
    border: 1px solid #0000004D;
    border-radius: 100%;
    background: white;
  }